#Experiencias{
    margin-left: 2rem;
}

#exp_modal-btn{
    background-color: var(--principal);
    border: none;
}

#exp_modal-btn:hover{
    background-color: var(--principal-hover);
}

#close-modal_btn{
   color: red;
}

.modal_title{
    font-size: 2rem;
    text-align: center;
    margin: 1.3rem 0;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    #Experiencias{
        margin: 1rem;
    }

    .exp_modal_title{
        flex-direction: column;
    }
}

@media only screen and (min-width: 700px) {    
    #Experiencias:hover{
        transform: translateY(-10px);
        transition: ease .5s;
    }

    #Experiencias{
        margin: 1rem;
    }

    .modal_title{
        font-size: 3rem;
    }
}