.exp_lista{
    background-color: var(--card-bg-color);
    padding: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exp_lista-title{
    font-size: 2.5em;
    margin-bottom: 4rem;
    font-weight: 900;
}

.exp_lista-title_span{
    color: var(--principal);
}

@media only screen and (max-width: 600px) {
    .exp_lista{
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px){
    .exp_lista-cards{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .exp_lista-title{
        font-size: 3.5rem;
    }
}

